doctype html
html.no-js
  include /_shared/head.jade

  body(class='#{bodyClass}')
    .Page
      .PageMain
        .PageMainInner
          .PageContent
            block content

      .PageFooter
        include /_shared/footer.jade

    include /_shared/foot.jade
