doctype html
html.no-js
  include /_shared/head.jade

  - var bc = bodyClass(current);
  body(class=bc)
    .Page
      .PageMain
        .PageMainInner
          .PageContent
            include /_shared/header.jade
            block content

      include /_shared/footer.jade

    block foot

    if (useJquery) 
      if (environment === 'development')
        script(src=asset(fingerprint['assets/javascripts/jquery.js']))
      else
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    block javascripts
