.PageHeader.Section
  .Section.grid
    h1 GiveGetWin

    nav
      ul
        li
          a(href='/schedule') Schedule
        li
          a(href='/help') Help Out
        li
          a(href='/archive') Previous Years
