doctype html
html.no-js
  include /shared/_head.jade

  body(class='#{bodyClass}')
    .Page
      .PageMain
        .PageMainInner
          .PageContent
            block content
              != contents

      .PageFooter
        include /shared/_footer.jade

    include /shared/_foot.jade
