---
title: 404
description: That page couldn't be found.
permalink: false
---

extends /_shared/layout.jade

block content
  include /_shared/header.jade

  main.Section.with-center-alignment.with-vertical-padding(role='main')
    h1(style="font-size:60px;line-height:1") That page couldn't be found.
    h1(style="font-size:120px;line-height:1;") :(
